Node-Red flow.txt
[{"id":"de021e5f.ed678","type":"debug","z":"a0cf871.496b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"dbeeb6bd.9256e8","type":"function","z":"a0cf871.496b078","name":"Mail arrived","func":"\nvar batt=msg.payload.uplink_message.decoded_payload.voltage;\nvar event=msg.payload.uplink_message.decoded_payload.event;\nvar rssi=msg.payload.uplink_message.rx_metadata[0].rssi;\nvar now = new Date();\nvar n = now.toLocaleString()\nvar beg=n.indexOf(\",\")+2\nvar end=n.indexOf(\"M\")+1\n \n msg.payload=\"Mail arrived at \"+ n.substring(beg, end)  + \" Voltage: \" + batt+\" RSSI: \"+rssi;\nnode.warn(msg.payload);\nnode.status({fill:\"green\",shape:\"ring\",text:batt});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":120,"wires":[["ca84b4a7.cc19c8","d244c78c.263158"]]},{"id":"ca84b4a7.cc19c8","type":"debug","z":"a0cf871.496b078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":180,"wires":[]},{"id":"948fea06.f1a0a8","type":"telegram sender","z":"a0cf871.496b078","name":"MailboxBot","bot":"f46ee038.b7ff8","x":1750,"y":120,"wires":[[]]},{"id":"d244c78c.263158","type":"function","z":"a0cf871.496b078","name":"Create Message","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: hi\n};\nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload});\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":120,"wires":[["948fea06.f1a0a8"]]},{"id":"ceebe47d.b2af18","type":"function","z":"a0cf871.496b078","name":"Mapping","func":"var dat= Date.now()\nvar batt=msg.payload.uplink_message.decoded_payload.voltage;\nvar boxStatus=msg.payload.uplink_message.decoded_payload.boxStatus;\nvar reason=msg.payload.uplink_message.decoded_payload.reason;\nvar rssi=msg.payload.uplink_message.rx_metadata[0].rssi;\nmsg.payload = [\n{\n    Time: dat.toString(),\n    status: boxStatus,\n    event: reason,\n    port: msg.payload.uplink_message.f_port,\n    BAT: batt,\n    RSSI: rssi,\n    count: msg.payload.uplink_message.f_cnt |0\n},{\n    name: \"Mailbox\"\n    \n}]\nnode.status({fill:\"green\",shape:\"ring\",text:rssi});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":600,"wires":[["e0e13023.651a7","c4308dd4.b06cd"]]},{"id":"e0e13023.651a7","type":"debug","z":"a0cf871.496b078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":660,"wires":[]},{"id":"c4308dd4.b06cd","type":"influxdb out","z":"a0cf871.496b078","influxdb":"5a0c58b0.d9e658","name":"Mailbox","measurement":"Deliveries","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1280,"y":600,"wires":[]},{"id":"85e48340.90f2b","type":"trigger","z":"a0cf871.496b078","name":"","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1120,"y":280,"wires":[["d4b10815.7e9a08","9ac2bf8e.b908c"]]},{"id":"88ab5f96.5f5d2","type":"inject","z":"a0cf871.496b078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":800,"y":280,"wires":[["85e48340.90f2b"]]},{"id":"d4b10815.7e9a08","type":"mqtt out","z":"a0cf871.496b078","name":"","topic":"/Bell/cmnd/Power1","qos":"0","retain":"","broker":"3ca313b8.542abc","x":1390,"y":300,"wires":[]},{"id":"9ac2bf8e.b908c","type":"debug","z":"a0cf871.496b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":360,"wires":[]},{"id":"b1e9676e.ff9de8","type":"switch","z":"a0cf871.496b078","name":"","property":"payload.uplink_message.decoded_payload.reason","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":730,"y":120,"wires":[["4b8000d.b9a3e"],["820ec2c.333774","9f34f62b.246838"],["dbeeb6bd.9256e8","9db90220.c6d7d","85e48340.90f2b"],["a4c08db9.4ad48","714ceeb.a6a811"]]},{"id":"4b8000d.b9a3e","type":"debug","z":"a0cf871.496b078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":20,"wires":[]},{"id":"576ec7d5.f62e88","type":"function","z":"a0cf871.496b078","name":"Create Message","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: hi\n};\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":60,"wires":[["c603c805.494968"]]},{"id":"c603c805.494968","type":"telegram sender","z":"a0cf871.496b078","name":"MailboxBot","bot":"f46ee038.b7ff8","x":1750,"y":60,"wires":[[]]},{"id":"820ec2c.333774","type":"timeout","z":"a0cf871.496b078","name":"Mailbox Timeout","outtopic":"alarm","outsafe":"","outwarning":"","outunsafe":"Mailbox stopped","warning":"1","timer":"26000","repeat":false,"again":true,"x":1080,"y":60,"wires":[["576ec7d5.f62e88"]]},{"id":"5c96f044.3e037","type":"inject","z":"a0cf871.496b078","name":"1","props":[{"p":"payload.uplink_message.decoded_payload.event","v":"1","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":240,"wires":[["b1e9676e.ff9de8"]]},{"id":"5be5732d.764a3c","type":"inject","z":"a0cf871.496b078","name":"2","props":[{"p":"payload.uplink_message.decoded_payload.event","v":"2","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":300,"wires":[["b1e9676e.ff9de8"]]},{"id":"7e6b73a2.62ebdc","type":"inject","z":"a0cf871.496b078","name":"3","props":[{"p":"payload.uplink_message.decoded_payload.event","v":"3","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":360,"wires":[["b1e9676e.ff9de8"]]},{"id":"a4c08db9.4ad48","type":"function","z":"a0cf871.496b078","name":"","func":"\nvar batt=msg.payload.uplink_message.decoded_payload.voltage;\nvar event=msg.payload.uplink_message.decoded_payload.event;\nvar rssi=msg.payload.uplink_message.rx_metadata[0].rssi;\nvar now = new Date();\nvar n = now.toLocaleString()\nvar beg=n.indexOf(\",\")+2\nvar end=n.indexOf(\"M\")+1\n\nmsg.payload=\"Mailbox emptied \"+ n.substring(beg, end)  + \" Voltage: \" + batt +\" RSSI: \"+rssi;\nnode.warn(msg.payload);\nnode.status({fill:\"green\",shape:\"ring\",text:batt});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":480,"wires":[["6d6d192.f09fee8","cd7d24c1.919dd8"]]},{"id":"6d6d192.f09fee8","type":"debug","z":"a0cf871.496b078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":520,"wires":[]},{"id":"ab042e12.79423","type":"telegram sender","z":"a0cf871.496b078","name":"MailboxBot","bot":"f46ee038.b7ff8","x":1610,"y":460,"wires":[[]]},{"id":"cd7d24c1.919dd8","type":"function","z":"a0cf871.496b078","name":"Create Message","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: hi\n};\nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload});\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":460,"wires":[["ab042e12.79423"]]},{"id":"dc484e62.506e7","type":"mqtt in","z":"a0cf871.496b078","name":"","topic":"v3/mailbox-notifier-sensorsiot@ttn/devices/#","qos":"0","datatype":"json","broker":"f3f5e84c.b41648","x":170,"y":140,"wires":[["de021e5f.ed678","ceebe47d.b2af18","b1e9676e.ff9de8"]]},{"id":"ae1b9b6e.df07f8","type":"mqtt out","z":"a0cf871.496b078","name":"","topic":"Notifier/cmd","qos":"0","retain":"","broker":"3ca313b8.542abc","x":1410,"y":800,"wires":[]},{"id":"9db90220.c6d7d","type":"function","z":"a0cf871.496b078","name":"s4 Mailbox full","func":"msg.payload=\"s4\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":800,"wires":[["ae1b9b6e.df07f8","e6d9f4f8.8d02c8"]]},{"id":"e6d9f4f8.8d02c8","type":"debug","z":"a0cf871.496b078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":740,"wires":[]},{"id":"aa3a01bd.122e5","type":"mqtt out","z":"a0cf871.496b078","name":"","topic":"Notifier/cmd","qos":"0","retain":"","broker":"3ca313b8.542abc","x":1410,"y":920,"wires":[]},{"id":"714ceeb.a6a811","type":"function","z":"a0cf871.496b078","name":"c4 Mailbox empty","func":"msg.payload=\"c4\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":920,"wires":[["aa3a01bd.122e5","9c3e5a62.8548e8"]]},{"id":"9c3e5a62.8548e8","type":"debug","z":"a0cf871.496b078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":860,"wires":[]},{"id":"dc037bbd.5e86a8","type":"switch","z":"a0cf871.496b078","name":"Mailbox full","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":500,"wires":[["714ceeb.a6a811"],["9db90220.c6d7d"]]},{"id":"9f34f62b.246838","type":"function","z":"a0cf871.496b078","name":"","func":"msg.payload=msg.payload.uplink_message.decoded_payload.boxStatus;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":500,"wires":[["dc037bbd.5e86a8"]]},{"id":"f46ee038.b7ff8","type":"telegram bot","botname":"sensorsIOTMailboxBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5a0c58b0.d9e658","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"mailbox","name":"Mailbox","usetls":false,"tls":"c149cddf.15d68","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"3ca313b8.542abc","type":"mqtt-broker","name":"Hub","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f3f5e84c.b41648","type":"mqtt-broker","name":"sensorsiot-mailbox-notifier@ttn","broker":"eu1.cloud.thethings.network","port":"8883","tls":"c149cddf.15d68","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c149cddf.15d68","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]